@page "/"
@using Microsoft.Extensions.Localization
@using DemoWebAssembly.Pages.Demos
<PageTitle>Home</PageTitle>

<h1>@(app["_salut"])</h1>

Welcome to your new app.

<Demo1></Demo1>

@code {
    [Inject]
    IStringLocalizer<App> app { get; set; }
}