<h3>Child</h3>

@* <p>Valeur du parent : @ValueFromParent</p>
<p>Valeur courante : @CurrentValue</p>
 *@

<p>@Question</p>
<button @onclick=@(() => Repondre("oui"))>Oui</button>
<button @onclick=@(() => Repondre("non"))>Non</button>

@code {

}
