@page "/demo5"
<h3>Demo5</h3>
<p><input @bind-value="MyValue"/></p>
<button @onclick="SetValue">set</button>
<button @onclick="GetValue">get</button>

<p>Valeur du storage : @ValueFromStorage</p>

@code {

}
